<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
        <httpRedirect enabled="false" destination="/test" exactDestination="true" childOnly="true" />
    </system.webServer>
   <system.web>
       <compilation debug="true"/>
   </system.web>
</configuration>
